:root{
    --tc-main: hsl(250, 40%, 80%);
    --tc-accent: hsl(0, 0%, 93%);
    --bg-main: hsl(0, 0%, 100%);
    /* --bg-accent: hsl(0, 0%, 24%); */
    --bg-accent: hsl(250, 40%, 59%);
    --tc-main-alt: hsl(0, 0%, 59%);
    --tc-accent-alt: black;
    --bg-main-alt: hsl(0, 0%, 7%);
    --bg-accent-alt: hsl(0, 0%, 71%);
}

body, html {
    user-select: none   ;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}

#headings {
    font-size: min(4vw, 2.5em);
}

#headings * {
    letter-spacing: 0.4em;
}

.task {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    min-width: clamp(2em, 20vw, 20em);
    height: 2em;
    border-radius: 1000vh;
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.taskname {
    min-width: 1em;
    display: inline-block;
    cursor: text;
}

[placeholder]:empty::before {
    content: attr(placeholder);
    opacity: 0.6;
}

[placeholder]:empty:focus::before {
    content: "";
}

.thin {
    min-width: 0 !important;
}

.mover {
    width: 1em;
    height: 1em;
    font-size: 18pt;
    cursor: grab;
    padding: 0.2em;
    border-radius: 1000vh;
}

.mover:hover{
    background-color: rgba(100,100,100,0.5);
}

.mover:active {
    cursor: grabbing;
}

.ui-button {
    font-size: 24pt;
    width: 2.5em;
    height: 2.5em;
    border-radius: 1em;
    margin: 0.25em;
    border: none;
    cursor: pointer;
}

.screen {
    position: absolute;
    height: 100%;
    width: 100%;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  
.quad {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.tc-main {
    color: var(--tc-main);
}

.tc-accent {
    color: var(--tc-accent);
}

.bg-main {
    background-color: var(--bg-main);
}

.bg-main-alt {
    background-color: var(--bg-main-alt);
}

.bg-accent {
    background-color: var(--bg-accent);
}

.dashed {
    outline: 0.125em dashed var(--bg-accent);
    outline-offset: -0.0625em;
}

.br {
    position: absolute;
    right: 0;
    bottom: 0;
}

.tm {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.lm {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.trtrans {
    transition: transform 500ms;
}

.hidden-down {
    transform: translateY(100%);
}

.col {
    display: flex;
    flex-direction: column;
}