:root{
    --tc-main: black;
    --tc-accent: hsl(0, 0%, 59%);
    --bg-main: hsl(0, 0%, 100%);
    --bg-accent: hsl(0, 0%, 28%);
    --tc-main-alt: hsl(0, 0%, 59%);
    --tc-accent-alt: black;
    --bg-main-alt: hsl(0, 0%, 7%);
    --bg-accent-alt: white;
}

body, html {
    user-select: none   ;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}

#headings {
    font-size: 32pt;
    letter-spacing: 10pt;
}

.task {
    width: 16em;
    height: 16em;
    border-radius: 2em;
    position: absolute;
}

.screen {
    position: absolute;
    height: 100%;
    width: 100%;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  
.quad {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.tc-main {
    color: var(--tc-main);
}

.tc-accent {
    color: var(--tc-accent);
}

.bg-main {
    background-color: var(--bg-main);
}

.bg-accent {
    background-color: var(--bg-accent);
}

.dashed {
    outline: 0.125em dashed var(--tc-main);
    outline-offset: -0.0625em;

}